html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}
body {
  margin: 0;
  background: #25272C;
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
